<!DOCTYPE html>
<html>
  <head>
    <title>RailsBoilerPlate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
